* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.wrapper {
    width: 600px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: #eee;
}

.content img {
    width: 30px;
    height: 30px;
}

.wrapper .header {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bolder;
    background-color: grey;
    color: #fff;
}

.content {
    max-height: calc(100% - 90px);
    overflow-y: scroll;
    padding: 0 10px;
}

.content .text {
    padding: 0 10px;
    line-height: 30px;
    border-radius: 5px;
    position: relative;
    max-width: 250px;
}

.content .text::after {
    content: '';
    position: absolute;
    border: 5px solid transparent;
}

.content .mine {
    float: right;
    width: 100%;
    margin: 10px 0;
}

.content .mine img {
    float: right;
}

.content .mine .text {
    float: right;
    background-color: greenyellow;
    margin-right: 5px;
}

.content .mine .text::after {
    border-left-color: greenyellow;
    right: -10px;
    top: 10px;
}

.content .robot {
    float: left;
    width: 100%;
}

.content .robot img {
    float: left;
}

.content .robot .text {
    float: left;
    background-color: #fff;
    margin-left: 5px;
}

.content .robot .text::after {
    border-right-color: #fff;
    left: -10px;
    top: 10px;
}

.input-box {
    height: 50px;
    background-color: #ddd;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 50px;
    text-align: center;
}

.input-box input {
    height: 30px;
    width: 500px;
    padding-left: 5px;
    /* outline */
    /* 输入框点击的时候的包裹线取消 */
    outline: none;
}

.input-box button {
    width: 80px;
    height: 30px;
}